/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 7rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Noto Sans JP", sans-serif;
    --normal-font-size: .938rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    /**color: var(--white-color);*/
  }

  ul{
    list-style-type: none;
  }
  div i:not(.ri-map-pin-2-fill) {
    font-style: normal;
  }
  

/*=============== FOOTER ===============*/

footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.9);
    margin-top:2px;  
    font-size: .800rem;
  
}
footer .foot__container {
    color: white;
    display: flex; /* 追加 */
    justify-content: center; /* 追加 */
}

/* 中央揃え */
 .foot__center {
  text-align: center;
	display: block;    
} 
/*テキストは左揃え*/
.foot__center ul {
  padding-top: 10px;
  text-align: left;
	display: inline-block;
}
.foot__list a:hover {
    text-decoration: underline;
  }
a, .foot__christ, li, .Copyright{
    color: white;
    text-decoration: none; /* アンダーバーを非表示にする */
    list-style-type: none;  /*点非表示*/
}
.foot__christ {
  /* padding-top: 10px;  */
  margin-top: 10px;
  margin-bottom: 10px;
}

  .foot__links {
   display: flex; 
    list-style: none;
 } 
 .foot__links li {
  text-align: center;
  font-size: 24px;
  padding: 20px 30px;
 }


/* Footer for mobile devices*/
@media screen and (max-width: 768px) {
  .foot__container {
    flex-direction: column;
  }
    .foot__center{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
    }
    .foot__list {
         margin-top: 20px; 
        margin-left: 25px;
        margin-right: 20px; 
        justify-content: center; 
    }
    .foot__links {
      justify-content: center; /* アイテムを水平方向に中央揃え */
      width: 100%;
    }
    
}





