.body__container {
  max-width: 1440px;
  margin: 0 auto;
}

  .tab-container a {
    font-size: 1rem;
    padding: 0.7rem 0 0.3rem;
    /* margin: 1.3rem; */
    margin: 0 0.3rem;
    width: 10rem;
    text-align: center;
  }
  
.background__image {
    background-image: url(/home/img/jujika.jpg);
    background-size: cover;
    background-position: center;
    
}
.pick {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:100%; /*画面サイズに合わせて*/
    /* height: 30vh; */
    z-index: 0;
 }
 /* .pic::before {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: inherit;
    filter: blur(10px) brightness(85%);
    content: '';
    z-index: -1;
} */
/* .top__image {
    padding: 4rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    border-radius: 5px;
    background: inherit;
}
 */

 /* .top__image {
     
    display:block;
   
    max-width:100%;
    height: 40vh;
  }
   */

  /* top image */
.top-bg {
    width:100%; /*画面サイズに合わせて*/
    max-width: 1440px;
    max-height: 432px;
    height: 30vw;

    /* background-color: #eee; */
    background-image: url(/home/img/jujika.jpg);
    
    background-position: center;
    position: relative;
    /* background-color: #eee; */
    /* background-size: 50%; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size: cover; */
  }
 

  /*画像上の文字*/
.background__image  p {
    position: absolute;
    color: #d1d3d3;
    top: 75%;
    right: 5%;
    font-weight: bold;
    font-size: 4vw;
    
}
/* 1440px以上は一定の大きさ */
@media (min-width:1440px) {
  .background__image  p {
    font-size: 2.5rem;  
}
}
/* 1280以下トップ画像大きさ */
@media (max-width:1280px) {
  .top-bg {
     height: 27vw;
  }

}




   .tab {
    max-width: 100%;
    /* margin: 0 auto; */
    margin: 20 20 20 20;
    margin-top: 10px;
  }
  
  /* @media (max-width:768px) {
     /*画像上の文字
     .top__image p {
      top:28%;
    }

  }  */

  /* タブメニュー */
  .tab__menu {
    display: flex;
    font-weight: var(--font-semi-bold);
    align-items: flex-end; /* メニューを下揃え&高さを調整 */
    justify-content: center;
    min-height: 50px; /* メニュー切替時にタブがズレないように */
    padding: 0;
    margin: 0;
  }
 
  .tab_menu li {
    color: var(--white-color);
  }
  
  .tab__menu-item {
    list-style: none;
    width: 200px;
    padding: 8px 5px; /* メニューに高さを付ける */
    text-align: center;
    margin-right: 50px;/*box 間隔*/
    background-color: var(--black-color);
    color: var(--gray-color);
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    cursor: pointer;
    transition: all .3s; /* アニメーション */
  }
  .tab__menu li:hover {
    color: var(--white-color);
    text-decoration: underline;
	text-underline-position : under;/* アンダーラインを少し下にずらす */
	text-decoration-color: var(--white-color);
  }
  
  .tab__menu-item:last-of-type {
    margin-right: 0px;
  }
  
  /* is-activeがついている時のスタイル */
  .tab__menu-item.is-active {
    background-color: var(--black-color);
    text-decoration: underline;
	  text-underline-position : under;/* アンダーラインを少し下にずらす */
	  text-decoration-color: var(--white-color);
    text-decoration-thickness: 2px;
    color:var(--white-color);
    padding: 12px 5px; /*box size*/
  }
  

  /* タブパネル */
.tab__panel {
    width: 100%;
   }
   
   .tab__panel-box {
     /* min-height: 400px; */
     /* padding: 10px 30px; */
     padding: 10px;
     /* border-radius: 10px; */
   }
   
   .tab__panel-box001, .tab__panel-box002 {
    margin-bottom: 20px;
    width: 90%;
    /* max-width: 1440px; */
    margin:0 auto; /*左右に自動的にマージンを追加して中央に配置*/
    margin-bottom: 20px;
    /* margin-left: 80px; /*背景グレー部分横幅
    margin-right: 80px; 背景グレー部分横幅 */
    /* padding: 50px; */
    padding-top: 4%;
    padding-left: 10%; /*白い部分幅*/
    padding-right: 10%;  /*白い部分幅*/
    padding-bottom: 50px;
     
     background-color: var(--back-color);
     display: none;
   }   
   /* is-showがついている時のスタイル */
   .tab__panel-box.is-show {
     display: block;
   }

/* 1024px以下はグレーの余白なくす */
   @media (max-width:1024px) {
    .tab__panel-box001, .tab__panel-box002 {
      margin-bottom: 20px;
      width: 100%;
      /* max-width: 1440px; */
      margin:0 auto; /*左右に自動的にマージンを追加して中央に配置*/
      /* margin-left: 80px; /*背景グレー部分横幅
      margin-right: 80px; 背景グレー部分横幅 */
      padding: 60px;
      padding-top: 6%;
      padding-left: 6%; /*白い部分幅*/
      padding-right: 6%;  /*白い部分幅*/
      padding-bottom: 4%;
      margin-bottom: 2%;
       background-color: var(--back-color);
       display: none;
     }   
   }
 
.other__church li a{
  text-decoration: underline;
}
.other__church li a:hover{
  text-decoration: none;
  color: var(--cursor-text-color);
}
  

/* 
   h3 {
    margin: 10px;
    text-decoration: underline;
    text-underline-position : under;/* アンダーラインを少し下にずらす 
	text-decoration-color: var(--gray-color);
    text-decoration-thickness: 4px;
   } */

   /* .pastor {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  } */
  .pastor {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    /* height: 500px; */
  }
  .pastor .pastor__photo  {
    /* padding: ; */
    width: 35%;
    /* background-color: blue; */
  }
  .pastor__photo img {
    width: 100%;
  }

  .pastor .pastor__setsumei  {
    padding: 2%;
    width: 60%;
    /* background-color: goldenrod; */
  }
  .bokushi {
    /* font-size: 1.1rem ; */
    font-size: var(--normal-font-size);
    /* font-weight: var(--font-semi-bold); */
    background: var(--back-gray);/*背景色*/
    display: inline-block; /*背景色を文字の長さに合わせる*/
    padding-top: 0.2em;/*文字まわり（上下左右）の余白*/
    padding-bottom: 0.2em;
  }
  .name__e {
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: 3vw;
    font-weight: 600;
    /* font-family: "Helvetica Neue"; */
    /* font-family: 'GenShinGothic-Bold'; */
    font-family: 'Montserrat', sans-serif;
  }
  .name__j {
    /*線の種類（実線） 太さ 色*/
    /* border-bottom: solid 0.5vw  var(--dot-color); */
     display: inline-block;
    padding-bottom: 5%;
    margin-bottom: 3%;
    /* font-family: Helvetica; */
    font-family: 'GenShinGothic-Bold';
    position: relative;
  }
  .name__j::before{
    content: '';
    background-color: var(--dot-color);
    /* width: 3vw; */
    /* height: 0.4vw; */
    width: 2.5em;
    height: 3px;
    position: absolute;
    bottom: -0.5%;
  }

.aisatsu {
  width: 100%;
  overflow-wrap: break-word; /*文字が枠からはみ出ないように*/
}
@media (max-width:768px) {
  .pastor {
    margin-top: 8%;
    display: block;
    /* justify-content: center; */
    max-width: 100%;
    width: 100%;
    /* margin: 0 auto ; */
    /* height: 500px; */
  }
  .pastor__photo {
    margin: 0 auto;
  }
  .pastor .pastor__photo  {
    /* padding: ; */
    width: 95%;
    /* background-color: blue; */
  }
  .pastor .pastor__setsumei  {
    /* padding: 2%; */
    width: 100%;
    margin: 0 auto;
    /* background-color: goldenrod; */
  }
  .name__e {
    font-size: 1.6rem;
    /* font-family: "Helvetica Neue"; */
    /* font-family: 'GenShinGothic-Bold'; */
    font-family: 'Montserrat', sans-serif;
  }
  /* .pastor__setsumei {
    margin:  auto;
  } */
}
@media (max-width:425px) {
  .name__e {
    font-size: 1rem;
    font-weight: 600;
    /* font-family: "Helvetica Neue"; */
    /* font-family: 'GenShinGothic-Bold'; */
    font-family: 'Montserrat', sans-serif;
  }

} 
