/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 7rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: rgb(0,0,0);/* hsl(220, 24%, 12%);*/
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --gray-color: #a3a3a3;
  --dot-color:#2e2c2c;
  --back-gray: #dee0e1;
  /* --body-color: hsl(220, 100%, 97%); */
  --body-color: #fcfaf5;
  --border-color: #7C7C7C;
  --cursor-text-color:#2C2D2D;
  --back-color: #eaecec;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Noto Sans JP", sans-serif; /* ページ全体のフォント */
  --normal-font-size: .938rem;   /* 通常のフォントサイズ */

  /*========== Font weight ==========*/
  --font-regular: 400;          /* 通常のフォントの太さ */
  --font-semi-bold: 600;     /* セミボールドのフォントの太さ */

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  margin: 0; /* デフォルトのマージンを削除 */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  /* background-color: var(--body-color); */
  background-color: var(--back-gray);
  min-height: 100vh; /* 画面の高さいっぱいに表示 */
  padding-top: var(--header-height); /* ヘッダーの高さに合わせた余白を追加 */
  /* 必要に応じて、テキストが横に折り返されないように設定 */
  /* white-space: nowrap; */
}


ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a :not(call,foot__mail){
  text-decoration: none;
}
a:hover {
  color: var(--white-color); /* カーソルを当てた時のテキストの色 */
}

div i:not(.ri-map-pin-2-fill) {
  font-style: normal;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.body__container a{
  text-decoration: none;
  /* color: #b0b0b0; */
  color:var(--border-color);
}
.body__container a :hover  {
  color: var(--cursor-text-color);/* カーソルを当てた時のテキストの色 */
  text-decoration: underline;
  text-underline-position : under;/* アンダーラインを少し下にずらす */
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
  flex: 1; /* コンテンツ部分がフリーサイズになるように */
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow:0 2px 16px var(--gray-color); /*影*/
   /* box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);  */
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo, 
.center__icon,
.nav__burger, 
.nav__close {
  color: var(--white-color);
  position: relative;
  z-index: 1; /* より大きい値を設定することで、他の要素よりも手前に表示されます */
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.center__icon {
  font-size: 1.25rem;
  font-weight: var(--font-semi-bold);
  /* justify-content: center;  */
}
ight
.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

/*x는 처음엔 안보이게*/
.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }

   .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
	margin-top: 3.5rem; /* 任意の値に調整 */
  }
}

.nav__link,.nav__link2 {
  color: var(--gray-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
  text-decoration: none;
}

  .nav__link:hover {
    /* 背景色を変更しないようにする */
  background-color: initial !important;
	text-decoration: underline;
	text-underline-position : under;/* アンダーラインを少し下にずらす */
	text-decoration-color: var(--white-color);
	text-decoration-thickness: 2px;
  }
.nav__link2:hover {
/* 背景色を変更しないようにする */
background-color: initial !important;
color: var(--white-color); /* カーソルを当てた時のテキストの色 */
  }

/* Show menu */
.show-menu {
  opacity: 1;
  top: 2.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--gray-color);
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover {
  background-color: var(--black-color-light);
  
  text-decoration: underline;
  text-underline-position : under;/* アンダーラインを少し下にずらす */
  text-decoration-color: var(--white-color);
  text-decoration-thickness: 2px;
}

.dropdown__menu {
  max-height: 0; /* メニューを初期状態では非表示にする */
  /* top: 5rem; */
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
   
  }

  .nav__link,.nav__link2 {
    padding-inline: 1rem;
    background-color: black;
    
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: var(--header-height) ;
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .center__icon {
    display:none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link,.nav__link2 {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    /* background-color: transparent; */
    background-color: var(--black-color-light);
  }

  .dropdown__item {
    position: relative;
  }

  .dropdown__menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 4rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
	writing-mode: horizontal-tb;
    white-space: nowrap; /* 必要に応じて、テキストが横に折り返されないように設定 */
  }

  .dropdown__link {
    padding-inline: 1rem 3.5rem;
  }
  
 .dropdown__link {
    padding-inline: 1rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: var(--header-height);   /*밑으로*/
    pointer-events: initial;
    transition: top .3s;
  }
}

/*=============== TOP IMAGE===============*/
.image__container {
  position: relative;
  max-width:100%;
  height: 40vh;
  overflow: hidden;
}
.image__container img {
  max-width:100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
 /*画像上の文字*/
 .image__container  p {
  position: absolute;
  color: #d1d3d3;
  top: 75%;
  right: 5%;
  font-weight: bold;
  font-size: 2em;
  /* order: 1; */
}

/* top image */
.wrapper {
  position: relative;
  max-width:100%;
  height: 40vh;
  
}
.wrapper .style {
  /* display: block; */
  align-items: center;
  justify-content: center;
  background-size:80% ;
  background-position: top;
  max-width:100%;
  height: 40vh;

} 
/*背景画像*/
.blur {
  position: relative;
  background: url(/home/img/jujika3.jpg);
  background-size:80% ;
  background-position: top;
  max-width:100%;
  height: 40vh;
  z-index: -1;
  /* filter: blur(3px); */
}
 /*画像上の文字*/
.wrapper  p {
  position: absolute;
  color: #d1d3d3;
  top: 75%;
  right: 5%;
  font-weight: bold;
  font-size: 2em;
  /* order: 1; */
}
/*=============== BODY ===============*/
.main__container {
  text-align: center;

}

/*集会案内、宣教活動body*/
.reihai, .denndou, .access{
  width: 90%;
  float: center;
  max-width: 1440px;
  margin:0 auto; /*左右に自動的にマージンを追加して中央に配置*/
  /* margin: 10px; */
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-left: 80px;       /*背景グレー部分横幅
  margin-right: 80px;     背景グレー部分横幅 */
  padding-top: 60px;      /*白い部分幅*/
  padding-left: 6%;      /*白い部分幅*/
  padding-right: 6%;    /*白い部分幅*/
  padding-bottom: 50px;
  
  background-color: var(--back-color);
 }
 /*ホームbody*/
 .home {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  /* margin: 10px; */
  /* margin-top: 20px; */
  /* margin-left: 120px; */
  /* margin-right: 120px; */
  background-color: var(--back-color);
 }
 .auto__slider img {
  width: 100%;
  /* width: 500px; */
  height: 30vh;
 }
 


/*=============== TITLE ===============*/
  /* 大見出し */
  .heading {
    font-size: 1.75rem;
    font-weight: var(--font-semi-bold);
    padding-left: 10px;
  }
  .border-arrange {
    
    width: 150px;
    padding: 0px;
    /* margin-bottom: 20px; */
    border-left: 6px solid var(--border-color);
    border-bottom:4px solid var(--border-color);
   }

   h1 {
    padding: 0.3em;/*文字周りの余白*/
    /* color: #494949; */
    background: var(--back-gray);/*背景色*/
    border-left: solid 5px var(--border-color);/*左線（実線 太さ 色）*/
  }
 /* 見出し囲い */
.border2 {
  font-size: 1.25rem;
  width:100%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: var(--font-semi-bold);
 }
 .border-double {
  border-top: 4px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
 }

 .border {
  font-size: 1.25rem;
  width:100%;
  padding: 0px;
  margin: 20px;
  font-weight: var(--font-semi-bold);
 }
 .border-bottom {
  border-bottom: 4px solid var(--border-color);
 }

/*見出し下線*/
 h3 {
  margin: 10px;
  text-decoration: underline; /*overline;*/
  text-underline-position : under;/* アンダーラインを少し下にずらす */
text-decoration-color: var(--border-color);
  text-decoration-thickness: 3px;
 }
/*小文字見出し*/ /*2文字*/
  .title {
    /* width: 42px; */
    display: inline-block; 
    padding: 0px;/*文字周りの余白*/
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 10px;
    color: var(--black-color);/*文字色*/
    /* background: var(--back-gray); */
    border-bottom: solid 3px var(--border-color);/*下線*/
}

/*=============== HOME BODY ===============*/

.home__body .church__label{
  padding: 100px;
  text-align: center;
  background-color: var(--body-color);
}
.home__body .church__label p {
  position: absolute;
  top: 115%;
  left: 50%;
  text-align: center;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
/* 無限スライダー写真 */
.yoko__infiniteslide img{
  height: 200px;
  filter: grayscale(20%);
    filter: saturate(70%);
}
/* 縦スライダー全体 */

.roop__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  overflow: hidden; /*スライダーのはみ出る部分を隠す*/
}
/* 左縦無限スライダー写真 */
.left__infiniteslide, .right__infiniteslide{
  height: 100%;
  width: 200px;
  line-height: 0;/*写真の上下の隙間をなくす*/
}

.left__infiniteslide img,.right__infiniteslide img{
  height: 100%;
  width: 100%;
  padding: 0%;
  filter: grayscale(20%);
    filter: saturate(70%);
    /* margin-bottom: 0;
    margin-top: 0; */
}



/*=============== HOME BODY ここまで===============*/


/*=============== FOOTER ===============*/

footer {
  /* position: absolute; */
  bottom: 0px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--black-color);
  margin-top:2px;  
  font-size: .800rem;

}
footer .foot__container {
  color: var(--gray-color);
  display: flex; /* 追加 */
  justify-content: center; /* 追加 */
}

/* 中央揃え */
.foot__center {
text-align: center;
display: block;    
} 
/*テキストは左揃え*/
.foot__center ul {
padding-top: 10px;
text-align: left;
display: inline-block;
}
.foot__list a:hover {
  text-decoration: underline;
  color: var(--white-color);
}
.foot__links a:hover {
  color: var(--white-color);
}
 .foot__list a , .foot__links a ,.foot__christ, .Copyright{
  color:var(--gray-color);
  list-style-type: none;  /*点非表示*/
}
li :not(.foot_mail,.call) {
  text-decoration: none; /*アンダーバーを非表示にする */
}
.foot__christ {
/* padding-top: 10px;  */
margin-top: 10px;
margin-bottom: 10px;
}

.foot__links {
 display: flex; 
  list-style: none;

} 
.foot__links li {
text-align: center;
font-size: 24px;
padding: 20px 30px;

}


/* Footer for mobile devices*/
@media screen and (max-width: 768px) {
.foot__container {
  flex-direction: column;
}
  .foot__center{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
     
  }
  .foot__list {
       margin-top: 20px; 
      margin-left: 25px;
      margin-right: 20px; 
      justify-content: center; 
  }
  .foot__links {
    justify-content: center; /* アイテムを水平方向に中央揃え */
    width: 100%;
  }
}

/*=============== FOOTER ここまで===============*/